@import "./_variables.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

.fab {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 9
}

.title-bang{
  font-family: 'Bangers', cursive;
  text-shadow: 5px 5px red;
}

.text-norm{
  font-family: 'Inter', sans-serif;
}


